<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="">
    <title>New dream</title>
</head>
<body>
<h1>New dream</h1>
  <form action="#" method="post">
  {% csrf_token %}
    {% if form.errors %}
        <h3>Please enter correct data:</h3>
      <p class="error"> {{ form.errors }}</p>
    {% endif %}
    {% if tag_forms.errors %}
        <h3>Please enter correct data in tag:</h3>
    {% endif %}
{#    {{ form.as_p }}#}
    {{ dream_form.as_p }}
  {{ tag_forms.non_form_errors }}
  {{ tag_forms.management_form }}
{#  alternative to above#}
{#  {% if tag_forms.non_form_errors %}#}
{#      <ul>#}
{#        <li>#}
{#            {% for error in tag_forms.non_form_errors %}#}
{#                {{ error|escape }}#}
{#            {% endfor %}#}
{#        </li>#}
{#      </ul>#}
{##}
{#  {% endif %}#}
{#  {{ tag_forms.as_p }}#}
{#  {% for form in tag_forms %}#}
{#    <p>#}
{#        {{ form }}#}
{#    </p>#}
{#  {% endfor %}#}
  <fieldset>
      <legend>tags</legend>
        {{ tag_forms.non_form_errors }}
        {{ tag_forms.management_form }}
        {% for form in tag_forms %}
          <p>
            {{ form }}
          <input title="delete tag" type="submit" name="remove_tag" value="remove">
          </p>
        {% endfor %}
    <input title="add tag" type="submit" name="add_tag" value="add">
  </fieldset>
{#    <label for="id_dream_subject">Subject:</label>#}
{#    <label for="id_dream_text">Text:</label>#}
{#    <label for="id_dream_date">Date:</label> {{ form.dream_date }}#}
    <input type="submit" value="Confirm" />
  </form>

</body>
</html>